{% import 'components/aina-logo.njk' as logo %}
{% import 'components/aina-contact.njk' as contact %}
{% import 'components/aina-social.njk' as social %}
{% import 'components/aina-blog.njk' as ainaBlog %}

<footer class="bg-gray-900 text-gray-200">
    <div class="mx-10 sm:mx-16 md:mx-24 lg:mx-32 mt-24">
        <div class="lg:flex border-b border-gray-800 pb-6">
            <div class="lg:w-1/4 lg:mr-12 mb-16">
                <div class="mb-8">
                    {{ logo.logo('white') }}
                </div>

                <p class="text-base mb-6">Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut aliquip erat volutpat Exerci tation</p>

                {{ contact.contactGroup('+0089 14455 8475 12', 'an_email@email.mail')}}

                {{ contact.contactGroup('34th Avenue', 'New York, W2 3XE', 'map-pin')}}

                <div>
                    <a class="hover:text-blue-500 mr-2" href="#">
                        <i class="feather icon-facebook"></i>
                    </a>
                    <a class="hover:text-blue-500 mr-2" href="#">
                        <i class="feather icon-twitter"></i>
                    </a>
                    <a class="hover:text-blue-500 mr-2" href="#">
                        <i class="feather icon-linkedin"></i>
                    </a>
                    <a class="hover:text-blue-500 mr-2" href="#">
                        <i class="feather icon-instagram"></i>
                    </a>
                    <a class="hover:text-blue-500 mr-2" href="#">
                        <i class="feather icon-pinterset"></i>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 lg:mr-12 mb-16">
                <h3 class="text-gray-200 text-xl mb-8 leading-loose">Latest Tweets</h3>

                {{ social.tweet('@lara_croft', 'Hi there, thank you for writing in. The theme is compatible with PHP 7.2, so please update your that iste, alias ex debitis molestiae a nulla? Alias!…') }}

                {{ social.tweet('@mikekelley138', 'Hi there, thank you fum, dolor sit amet consectetur adipisicing elit. Minus harum ea od team at…') }}

                {{ social.tweet('@roublabla', 'Also: You can search for ero nemo itaque praesentium quia aut ad! more information about our new christmas sale at…', '') }}
            </div>
            <div class="lg:w-1/4 lg:mr-12 mb-16">
                <h3 class="text-gray-200 text-xl mb-8 leading-loose">Latest Posts</h3>

                {{ ainaBlog.postOverView('/images/blog/post-ov-1.jpg', '4 Ways to Use Virtual Care', 'May 23, 2018') }}

                {{ ainaBlog.postOverView('/images/blog/post-ov-2.jpg', 'Better Focus', 'June 7, 2018') }}

                {{ ainaBlog.postOverView('/images/blog/post-ov-3.jpg', 'Care for Senior People', 'May 24, 2018') }}
            </div>
        </div>
        <div class="py-10">
            <p class="text-base">Made with <i class="feather icon-heart"></i> by Radan &mdash; Inspired by <a href="#">{# TODO: housemed link here #}Housemed</a> and build upon <a href="https://skeleventy.netlify.app">Skeleventy</a></p>
        </div>
    </div>
</footer>