{% macro logo(color = 'blue-500') %}
    <div class="logo">
        <a class="text-3xl uppercase font-display font-semibold text-{{ color }}" href="#">AINA<span class="text-blue-300">MED</span></a>
    </div>
{% endmacro %}