{% import 'components/aina-logo.njk' as logo %}
<header class="bg-white">
    <div class="container mx-auto flex justify-between items-center">
        {# <div class="logo">
            <a class="text-3xl font-display font-semibold text-blue-500" href="#">AINA</a>
        </div> #}
        {{ logo.logo() }}

        {% include 'components/aina-nav.njk' %}

        <div></div><!-- TODO: place icons here -->
    </div>
</header>