{% macro contactGroup(primary, secondary, icon = 'activity') %}
<div class="flex text-sm items-start mb-6">
    <div class="pt-1">
        <i class="feather icon-{{ icon }} text-blue-500 text-2xl"></i>
    </div>
    <div class="ml-3">
        <p class="mb-1">{# +0089 14455 8475 12 #}{{ primary }}</p>
        <p class="text-gray-500">{# an_email@email.mail #}{{ secondary }}</p>
    </div>
</div>
{% endmacro %}