{% macro doctor(name, picture, speciality) %}
<div class="text-center mx-6">
    <div class="rounded-full h-40 w-40 overflow-hidden mx-auto mb-8">
        <img class="w-full h-auto" src="{{ picture }}" alt="doctor pic">
    </div>
    <h3 class="font-bold text-xl mb-3 capitalize">{{ name }}</h3>
    <h2 class="uppercase text-xs tracking-wider font-display font-semibold text-green-500">{{ speciality }}</h2>
    <p class="text-base">Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet susc ipit</p>
</div>
{% endmacro %}