<nav id="main-scroll-menu" class="flex items-center text-base">
    {% for item in navigation.aina_main %}
        <a href="{{ item.url | safe }}"
            class="manu-item uppercase mr-4 py-4  pt-5 font-normal border-blue-500 border-b-4
            {% if page.url == item.url %}
            text-blue-500
            {% else %}
              border-opacity-0 hover:border-opacity-100 hover:text-blue-500
            {% endif %}"
            {% if page.url == item.url %}
            aria-current="page"
            {% endif %}>
            {{ item.label }}
        </a>

    {% endfor %}
</nav>