<section id="hero">
    <div class="hero-wrapper">
        <div class="flex items-center justify-center md:justify-start xl:justify-center"><!--* element of a future carousel -->
            <div class="hero-caption md:ml-32 md:w-3/5 lg:w-1/3 -mt-20 text-center md:text-left xl:text-center">
                <h1 class="heading-line text-5xl leading-tight font-regular mb-8">Start up your health care!!</h1>
                <p class="mb-10 text-lg">Everyday is an opportunity for you to do somethig for your health</p>
                <a class="uppercase text-xs tracking-wider font-display font-semibold px-10 py-4 bg-blue-500 hover:bg-blue-600 rounded-full text-white" href="#">Book appointment</a>
            </div>
        </div>
    </div>
</section>