<section id="laboratory">
    {# first row #}
    <div class="lab-row">
        <div class="lg:flex items-stretch">
            <div class="lg:w-1/2">
                <div class="lab-img">
                    {# <img class="w-full h-auto" src="/images/home/laboratory.jpg" alt="laboratory"> #}
                </div>
            </div>
            <div class="lab-text lg:w-1/2 flex flex-col justify-center">
                <div class="text-gray-100 mt-8 lg:mt-0 mb-12">
                    <div class="ml-24 mr-40">
                        <h2 class="heading-line text-4xl leading-tight font-regular mb-8 text-white">Best laboratory Analysis Available</h2>
                        <h3 class="uppercase text-sm tracking-wider font-display font-semibold text-gray-100">{# TODO: an icon should be placed here #}MAZIM PLACERAT FACER POSSIM</h3>
                        <p class="mb-8">Exerci tation ul lamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat duis autem vel eum iriure augue duis dolore.</p>
                        <a class="uppercase text-xs tracking-wider font-display font-semibold px-10 py-4 bg-blue-600 hover:bg-blue-500 rounded-full text-white" href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# second row #}
    <div class="lab-row bg-gray-100 flex flex-col justify-center">
        <div class="lg:flex mx-10 sm:mx-16 md:mx-24 lg:mx-32">
            <div class="lg:w-1/2">
                <div class="lg:pr-20 mt-10 lg:mt-0 mb-16">
                    <h2 class="heading-line text-4xl leading-tight font-regular mb-8">Laboratory Place In Medical Practice</h2>
                    <p class="mb-8">Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo non habent claritatem insitam consequat duis autem facilisis at vero eros nibh euismod tincid unt.</p>
                </div>
            </div>
            <div class="lg:w-1/2">
                {% include 'components/aina-lab-stats.njk' %}
            </div>
        </div>
    </div>
</section>