<section id="services">
    <div class="mx-32 -mt-48 flex overflow-hidden">
        <div class="service-item">
            <div class="p-0 m-0">
                <i class="feather icon-activity text-6xl font-thin"></i>
                <h3>Doctor Timetable</h3>
                <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation</p>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="service-item">
            <div class="p-0 m-0">
                <i class="feather icon-activity text-6xl font-thin"></i>
                <h3>Health Information</h3>
                <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation</p>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="service-item">
            <div class="p-0 m-0">
                <i class="feather icon-activity text-6xl font-thin"></i>
                <h3>Medical Education</h3>
                <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation</p>
                <a href="#">READ MORE</a>
            </div>
        </div>
    </div>
</section>