<section id="stats" class="bg-gray-900 text-gray-100 py-32">
    <div class="mx-32 flex justify-around mt-4">
        <div class="text-center">
            <h1 class="text-6xl font-extrabold heading-line mb-4">22</h1>
            <p class="font-bold text-xl">Medical Experts</p>
        </div>
        <div class="text-center">
            <h1 class="text-6xl font-extrabold heading-line mb-4">211</h1>
            <p class="font-bold text-xl">Modern Rooms</p>
        </div><div class="text-center">
            <h1 class="text-6xl font-extrabold heading-line mb-4">388</h1>
            <p class="font-bold text-xl">Health Treatments</p>
        </div><div class="text-center">
            <h1 class="text-6xl font-extrabold heading-line mb-4">1806</h1>
            <p class="font-bold text-xl">Surgeries A Year</p>
        </div>
    </div>
</section>