<section id="video">
    <div class="mx-10 sm:mx-16 md:mx-24 lg:mx-32 lg:flex lg:justify-center">
        <div class="lg:flex xl:w-5/6">
            <div class="lg:w-1/2">
                {# for now we use a static image #}
                {# but later we will emebed a video from vimeo/youtube #}
                <div class="footage mb-12">
                    <div class="cursor-pointer relative flex justify-center items-center">
                        <img class="block" src="/images/home/video-image.jpeg" alt="video-footage">
                        <div class="control-play absolute bg-blue-500 rounded-full flex justify-center items-center">
                            <i class="feather icon-play ml-2 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/2">
                <div class="text lg:ml-12 flex flex-col justify-center items-start">
                    <h2 class="heading-line text-4xl leading-tight font-regular mb-8">Good Health<br>Moves Us Forward</h2>
                    <p class="text-base mb-8">Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at.</p>
                    <a class="uppercase text-xs tracking-wider font-display font-semibold px-10 py-4 bg-blue-500 hover:bg-blue-600 rounded-full text-white" href="#">read more</a>
                </div>
            </div>
        </div>
    </div>
</section>