<section id="stats" class="bg-gray-900 text-gray-100 py-32 scrollspy">
    <div class="mx-32 lg:flex lg:justify-around mt-1">
        <div class="text-center mb-16 lg:mb-0">
            <p class="text-6xl font-extrabold heading-line mb-4">22</p>
            <h3 class="font-bold text-xl mb-2 text-gray-100">Medical Experts</h3>
        </div>
        <div class="text-center mb-16 lg:mb-0">
            <p class="text-6xl font-extrabold heading-line mb-4">211</p>
            <h3 class="font-bold text-xl mb-2 text-gray-100">Modern Rooms</h3>
        </div>
        <div class="text-center mb-16 lg:mb-0">
            <p class="text-6xl font-extrabold heading-line mb-4">388</p>
            <h3 class="font-bold text-xl mb-2 text-gray-100">Health Treatments</h3>
        </div>
        <div class="text-center mb-16 lg:mb-0">
            <p class="text-6xl font-extrabold heading-line mb-4">1806</p>
            <h3 class="font-bold text-xl mb-2 text-gray-100">Surgeries A Year</h3>
        </div>
    </div>
</section>