<section id="team">
    <div class="text-center mx-12 lg:w-1/2 lg:mx-auto leading-relaxed mb-32">
        <h2 class="heading-line text-4xl leading-tight font-regular mb-8">Meet Our Team</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhie euismod tincidunt ut laoreet dolore magna erat</p>
    </div>
    <div>
        {% include 'components/aina-team.njk' %}
    </div>
</section>