<section id="services">
    <div class="mx-32 -mt-48 flex overflow-hidden">
        <div class="service-item">
            <div class="p-0 m-0">
                <i class="feather icon-activity text-6xl font-thin"></i>
                <h3 class="text-white">Doctor Timetable</h3>
                <p class="text-gray-100">Ut wisi enim ad minim veniam, quis laore nostrud exerci tation</p>
                <a class="text-gray-100" href="#">READ MORE</a>
            </div>
        </div>
        <div class="service-item">
            <div class="p-0 m-0">
                <i class="feather icon-activity text-6xl font-thin"></i>
                <h3 class="text-white">Health Information</h3>
                <p class="text-gray-100">Ut wisi enim ad minim veniam, quis laore nostrud exerci tation</p>
                <a class="text-gray-100" href="#">READ MORE</a>
            </div>
        </div>
        <div class="service-item">
            <div class="p-0 m-0">
                <i class="feather icon-activity text-6xl font-thin"></i>
                <h3 class="text-white">Medical Education</h3>
                <p class="text-gray-100">Ut wisi enim ad minim veniam, quis laore nostrud exerci tation</p>
                <a class="text-gray-100" href="#">READ MORE</a>
            </div>
        </div>
    </div>
</section>