---
layout: layouts/aina-default-1.njk
meta_title: Home
meta_description: Aina is a simple responsive html template, built upon SkElenvety(which is built with Eleventy and TailwindCSS)
body_class: home
---

<main data-spy="scroll" data-target="#main-scrollspy-menu" data-offset="0" id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">

    {% include 'parts/home-top.njk'%}

    {# {% include 'parts/home-hero.njk' %} #}

    {# {% include 'parts/home-services.njk' %} #}

    {% include 'parts/home-video.njk' %}
    
    {% include 'parts/home-stats.njk' %}

    {% include 'parts/home-features.njk' %}

    {% include 'parts/home-laboratory.njk' %}

    {% include 'parts/home-team.njk' %}

    {# {% include 'parts/home-callToAction.njk' %} #}

</main>


