    /*
    Flaticon icon font: Flaticon
    Creation date: 13/09/2017 08:07
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-briefcase-3:before { content: "\f100"; }
.flaticon-002-target-1:before { content: "\f101"; }
.flaticon-003-analytics-1:before { content: "\f102"; }
.flaticon-004-analytics:before { content: "\f103"; }
.flaticon-005-smartphone:before { content: "\f104"; }
.flaticon-006-board-3:before { content: "\f105"; }
.flaticon-007-online-shopping:before { content: "\f106"; }
.flaticon-008-megaphone-1:before { content: "\f107"; }
.flaticon-009-computer-7:before { content: "\f108"; }
.flaticon-010-medal-3:before { content: "\f109"; }
.flaticon-011-rocket:before { content: "\f10a"; }
.flaticon-012-user-3:before { content: "\f10b"; }
.flaticon-013-folder-1:before { content: "\f10c"; }
.flaticon-014-calendar:before { content: "\f10d"; }
.flaticon-015-wallet:before { content: "\f10e"; }
.flaticon-016-laptop-5:before { content: "\f10f"; }
.flaticon-017-world-1:before { content: "\f110"; }
.flaticon-018-bulb-2:before { content: "\f111"; }
.flaticon-019-bars:before { content: "\f112"; }
.flaticon-020-world:before { content: "\f113"; }
.flaticon-021-laptop-4:before { content: "\f114"; }
.flaticon-022-hierarchical-structure-1:before { content: "\f115"; }
.flaticon-023-board-2:before { content: "\f116"; }
.flaticon-024-board-1:before { content: "\f117"; }
.flaticon-025-cloud-5:before { content: "\f118"; }
.flaticon-026-magnifying-glass-1:before { content: "\f119"; }
.flaticon-027-medal-2:before { content: "\f11a"; }
.flaticon-028-document-5:before { content: "\f11b"; }
.flaticon-029-flask-1:before { content: "\f11c"; }
.flaticon-030-computer-6:before { content: "\f11d"; }
.flaticon-031-mobile-phone-3:before { content: "\f11e"; }
.flaticon-032-browser-5:before { content: "\f11f"; }
.flaticon-033-trophy:before { content: "\f120"; }
.flaticon-034-lock:before { content: "\f121"; }
.flaticon-035-document-4:before { content: "\f122"; }
.flaticon-036-medal-1:before { content: "\f123"; }
.flaticon-037-credit-card:before { content: "\f124"; }
.flaticon-038-speech-1:before { content: "\f125"; }
.flaticon-039-cloud-4:before { content: "\f126"; }
.flaticon-040-laptop-3:before { content: "\f127"; }
.flaticon-041-computer-5:before { content: "\f128"; }
.flaticon-042-placeholder:before { content: "\f129"; }
.flaticon-043-computer-4:before { content: "\f12a"; }
.flaticon-044-alarm:before { content: "\f12b"; }
.flaticon-045-monitor-2:before { content: "\f12c"; }
.flaticon-046-computer-3:before { content: "\f12d"; }
.flaticon-047-networking:before { content: "\f12e"; }
.flaticon-048-chat:before { content: "\f12f"; }
.flaticon-049-clock:before { content: "\f130"; }
.flaticon-050-flag-1:before { content: "\f131"; }
.flaticon-051-envelope:before { content: "\f132"; }
.flaticon-052-dollar:before { content: "\f133"; }
.flaticon-053-document-3:before { content: "\f134"; }
.flaticon-054-mobile-phone-2:before { content: "\f135"; }
.flaticon-055-flask:before { content: "\f136"; }
.flaticon-056-user-2:before { content: "\f137"; }
.flaticon-057-speech:before { content: "\f138"; }
.flaticon-058-bulb-1:before { content: "\f139"; }
.flaticon-059-mobile-phone-1:before { content: "\f13a"; }
.flaticon-060-monitor-1:before { content: "\f13b"; }
.flaticon-061-user-1:before { content: "\f13c"; }
.flaticon-062-video-player:before { content: "\f13d"; }
.flaticon-063-curriculum-1:before { content: "\f13e"; }
.flaticon-064-browser-4:before { content: "\f13f"; }
.flaticon-065-message:before { content: "\f140"; }
.flaticon-066-photo:before { content: "\f141"; }
.flaticon-067-bulb:before { content: "\f142"; }
.flaticon-068-briefcase-2:before { content: "\f143"; }
.flaticon-069-cloud-3:before { content: "\f144"; }
.flaticon-070-megaphone:before { content: "\f145"; }
.flaticon-071-mobile-phone:before { content: "\f146"; }
.flaticon-072-computer-2:before { content: "\f147"; }
.flaticon-073-pen-1:before { content: "\f148"; }
.flaticon-074-laptop-2:before { content: "\f149"; }
.flaticon-075-briefcase-1:before { content: "\f14a"; }
.flaticon-076-curriculum:before { content: "\f14b"; }
.flaticon-077-briefcase:before { content: "\f14c"; }
.flaticon-078-gear-1:before { content: "\f14d"; }
.flaticon-079-certificate:before { content: "\f14e"; }
.flaticon-080-gear:before { content: "\f14f"; }
.flaticon-081-medal:before { content: "\f150"; }
.flaticon-082-stopwatch:before { content: "\f151"; }
.flaticon-083-folder:before { content: "\f152"; }
.flaticon-084-location:before { content: "\f153"; }
.flaticon-085-watch:before { content: "\f154"; }
.flaticon-086-user:before { content: "\f155"; }
.flaticon-087-scissors:before { content: "\f156"; }
.flaticon-088-agenda:before { content: "\f157"; }
.flaticon-089-mailbox:before { content: "\f158"; }
.flaticon-090-pen:before { content: "\f159"; }
.flaticon-091-target:before { content: "\f15a"; }
.flaticon-092-computer-1:before { content: "\f15b"; }
.flaticon-093-headphones:before { content: "\f15c"; }
.flaticon-094-eye:before { content: "\f15d"; }
.flaticon-095-computer:before { content: "\f15e"; }
.flaticon-096-tactics:before { content: "\f15f"; }
.flaticon-097-search:before { content: "\f160"; }
.flaticon-098-businessman-1:before { content: "\f161"; }
.flaticon-099-cloud-2:before { content: "\f162"; }
.flaticon-100-video-conference:before { content: "\f163"; }
.flaticon-101-laptop-1:before { content: "\f164"; }
.flaticon-102-curriculum-vitae:before { content: "\f165"; }
.flaticon-103-upload:before { content: "\f166"; }
.flaticon-104-browser-3:before { content: "\f167"; }
.flaticon-105-businessman:before { content: "\f168"; }
.flaticon-106-share:before { content: "\f169"; }
.flaticon-107-goal:before { content: "\f16a"; }
.flaticon-108-board:before { content: "\f16b"; }
.flaticon-109-browser-2:before { content: "\f16c"; }
.flaticon-110-magnifying-glass:before { content: "\f16d"; }
.flaticon-111-whiteboard:before { content: "\f16e"; }
.flaticon-112-layout:before { content: "\f16f"; }
.flaticon-113-browser-1:before { content: "\f170"; }
.flaticon-114-piggy-bank:before { content: "\f171"; }
.flaticon-115-hierarchical-structure:before { content: "\f172"; }
.flaticon-116-flag:before { content: "\f173"; }
.flaticon-117-speaker:before { content: "\f174"; }
.flaticon-118-cloud-1:before { content: "\f175"; }
.flaticon-119-document-2:before { content: "\f176"; }
.flaticon-120-cloud:before { content: "\f177"; }
.flaticon-121-monitor:before { content: "\f178"; }
.flaticon-122-laptop:before { content: "\f179"; }
.flaticon-123-document-1:before { content: "\f17a"; }
.flaticon-124-exam:before { content: "\f17b"; }
.flaticon-125-database:before { content: "\f17c"; }
.flaticon-126-stamp:before { content: "\f17d"; }
.flaticon-127-globe:before { content: "\f17e"; }
.flaticon-128-chart:before { content: "\f17f"; }
.flaticon-129-browser:before { content: "\f180"; }
.flaticon-130-document:before { content: "\f181"; }
    
    $font-Flaticon-001-briefcase-3: "\f100";
    $font-Flaticon-002-target-1: "\f101";
    $font-Flaticon-003-analytics-1: "\f102";
    $font-Flaticon-004-analytics: "\f103";
    $font-Flaticon-005-smartphone: "\f104";
    $font-Flaticon-006-board-3: "\f105";
    $font-Flaticon-007-online-shopping: "\f106";
    $font-Flaticon-008-megaphone-1: "\f107";
    $font-Flaticon-009-computer-7: "\f108";
    $font-Flaticon-010-medal-3: "\f109";
    $font-Flaticon-011-rocket: "\f10a";
    $font-Flaticon-012-user-3: "\f10b";
    $font-Flaticon-013-folder-1: "\f10c";
    $font-Flaticon-014-calendar: "\f10d";
    $font-Flaticon-015-wallet: "\f10e";
    $font-Flaticon-016-laptop-5: "\f10f";
    $font-Flaticon-017-world-1: "\f110";
    $font-Flaticon-018-bulb-2: "\f111";
    $font-Flaticon-019-bars: "\f112";
    $font-Flaticon-020-world: "\f113";
    $font-Flaticon-021-laptop-4: "\f114";
    $font-Flaticon-022-hierarchical-structure-1: "\f115";
    $font-Flaticon-023-board-2: "\f116";
    $font-Flaticon-024-board-1: "\f117";
    $font-Flaticon-025-cloud-5: "\f118";
    $font-Flaticon-026-magnifying-glass-1: "\f119";
    $font-Flaticon-027-medal-2: "\f11a";
    $font-Flaticon-028-document-5: "\f11b";
    $font-Flaticon-029-flask-1: "\f11c";
    $font-Flaticon-030-computer-6: "\f11d";
    $font-Flaticon-031-mobile-phone-3: "\f11e";
    $font-Flaticon-032-browser-5: "\f11f";
    $font-Flaticon-033-trophy: "\f120";
    $font-Flaticon-034-lock: "\f121";
    $font-Flaticon-035-document-4: "\f122";
    $font-Flaticon-036-medal-1: "\f123";
    $font-Flaticon-037-credit-card: "\f124";
    $font-Flaticon-038-speech-1: "\f125";
    $font-Flaticon-039-cloud-4: "\f126";
    $font-Flaticon-040-laptop-3: "\f127";
    $font-Flaticon-041-computer-5: "\f128";
    $font-Flaticon-042-placeholder: "\f129";
    $font-Flaticon-043-computer-4: "\f12a";
    $font-Flaticon-044-alarm: "\f12b";
    $font-Flaticon-045-monitor-2: "\f12c";
    $font-Flaticon-046-computer-3: "\f12d";
    $font-Flaticon-047-networking: "\f12e";
    $font-Flaticon-048-chat: "\f12f";
    $font-Flaticon-049-clock: "\f130";
    $font-Flaticon-050-flag-1: "\f131";
    $font-Flaticon-051-envelope: "\f132";
    $font-Flaticon-052-dollar: "\f133";
    $font-Flaticon-053-document-3: "\f134";
    $font-Flaticon-054-mobile-phone-2: "\f135";
    $font-Flaticon-055-flask: "\f136";
    $font-Flaticon-056-user-2: "\f137";
    $font-Flaticon-057-speech: "\f138";
    $font-Flaticon-058-bulb-1: "\f139";
    $font-Flaticon-059-mobile-phone-1: "\f13a";
    $font-Flaticon-060-monitor-1: "\f13b";
    $font-Flaticon-061-user-1: "\f13c";
    $font-Flaticon-062-video-player: "\f13d";
    $font-Flaticon-063-curriculum-1: "\f13e";
    $font-Flaticon-064-browser-4: "\f13f";
    $font-Flaticon-065-message: "\f140";
    $font-Flaticon-066-photo: "\f141";
    $font-Flaticon-067-bulb: "\f142";
    $font-Flaticon-068-briefcase-2: "\f143";
    $font-Flaticon-069-cloud-3: "\f144";
    $font-Flaticon-070-megaphone: "\f145";
    $font-Flaticon-071-mobile-phone: "\f146";
    $font-Flaticon-072-computer-2: "\f147";
    $font-Flaticon-073-pen-1: "\f148";
    $font-Flaticon-074-laptop-2: "\f149";
    $font-Flaticon-075-briefcase-1: "\f14a";
    $font-Flaticon-076-curriculum: "\f14b";
    $font-Flaticon-077-briefcase: "\f14c";
    $font-Flaticon-078-gear-1: "\f14d";
    $font-Flaticon-079-certificate: "\f14e";
    $font-Flaticon-080-gear: "\f14f";
    $font-Flaticon-081-medal: "\f150";
    $font-Flaticon-082-stopwatch: "\f151";
    $font-Flaticon-083-folder: "\f152";
    $font-Flaticon-084-location: "\f153";
    $font-Flaticon-085-watch: "\f154";
    $font-Flaticon-086-user: "\f155";
    $font-Flaticon-087-scissors: "\f156";
    $font-Flaticon-088-agenda: "\f157";
    $font-Flaticon-089-mailbox: "\f158";
    $font-Flaticon-090-pen: "\f159";
    $font-Flaticon-091-target: "\f15a";
    $font-Flaticon-092-computer-1: "\f15b";
    $font-Flaticon-093-headphones: "\f15c";
    $font-Flaticon-094-eye: "\f15d";
    $font-Flaticon-095-computer: "\f15e";
    $font-Flaticon-096-tactics: "\f15f";
    $font-Flaticon-097-search: "\f160";
    $font-Flaticon-098-businessman-1: "\f161";
    $font-Flaticon-099-cloud-2: "\f162";
    $font-Flaticon-100-video-conference: "\f163";
    $font-Flaticon-101-laptop-1: "\f164";
    $font-Flaticon-102-curriculum-vitae: "\f165";
    $font-Flaticon-103-upload: "\f166";
    $font-Flaticon-104-browser-3: "\f167";
    $font-Flaticon-105-businessman: "\f168";
    $font-Flaticon-106-share: "\f169";
    $font-Flaticon-107-goal: "\f16a";
    $font-Flaticon-108-board: "\f16b";
    $font-Flaticon-109-browser-2: "\f16c";
    $font-Flaticon-110-magnifying-glass: "\f16d";
    $font-Flaticon-111-whiteboard: "\f16e";
    $font-Flaticon-112-layout: "\f16f";
    $font-Flaticon-113-browser-1: "\f170";
    $font-Flaticon-114-piggy-bank: "\f171";
    $font-Flaticon-115-hierarchical-structure: "\f172";
    $font-Flaticon-116-flag: "\f173";
    $font-Flaticon-117-speaker: "\f174";
    $font-Flaticon-118-cloud-1: "\f175";
    $font-Flaticon-119-document-2: "\f176";
    $font-Flaticon-120-cloud: "\f177";
    $font-Flaticon-121-monitor: "\f178";
    $font-Flaticon-122-laptop: "\f179";
    $font-Flaticon-123-document-1: "\f17a";
    $font-Flaticon-124-exam: "\f17b";
    $font-Flaticon-125-database: "\f17c";
    $font-Flaticon-126-stamp: "\f17d";
    $font-Flaticon-127-globe: "\f17e";
    $font-Flaticon-128-chart: "\f17f";
    $font-Flaticon-129-browser: "\f180";
    $font-Flaticon-130-document: "\f181";