---
layout: layouts/aina-default-0.njk
---

{# mobile navigation #}
{% include "components/aina-nav-mobile.njk" %}

{# include header #}
{% include "components/aina-header.njk" %}

{# include content #}
{{ content | safe }}

{# include footer #}
{% include "components/aina-footer.njk" %}