#hero {
    height: 30rem;
    .hero-wrapper {
        background-image:
            linear-gradient(
                to top,
                hsla(240, 100%, 3%, .15),
                hsla(240, 100%, 3%, .15)
            ),
            url('/images/home/hero.jpg');
        @apply bg-cover bg-center h-full;
    }

    .hero-title {
        &::after {
            @apply block w-12 border-blue-500 border-b-4 pt-6;
            content: "";
        }
    }
}