#laboratory {
    .lab-img {
        height: 30rem;
        background-image: url('/images/home/laboratory.jpg');
        // background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .lab-text {
        background-color: #36C190;

        .heading-line::after {
            @apply border-blue-600;
        }
    }

    .lab-row:nth-child(2) {
        min-height: 30rem;
    }
}